<!DOCTYPE html>

<head>
    <title>Fest-iut</title>
    <link rel="stylesheet" href="../css/nav.css">
</head>

<nav>
    <a href="accueil.html">LES CONCERTS</a>
    <a href="">L'ACTUALITE</a>
    <a href="">LA BILLETERIE</a>
    <a href="">CONNEXION</a>
</nav>
<p>ccccccccccccccccccccc</p>
<p>ccccccccccccccccccccc</p>
<p>ccccccccccccccccccccc</p>
<p>ccccccccccccccccccccc</p>
<p>ccccccccccccccccccccc</p>
<p>ccccccccccccccccccccc</p>
<p>ccccccccccccccccccccc</p>
<p>ccccccccccccccccccccc</p>
<p>ccccccccccccccccccccc</p>
<p>ccccccccccccccccccccc</p>
<p>ccccccccccccccccccccc</p>
<p>ccccccccccccccccccccc</p>
<p>ccccccccccccccccccccc</p>
<p>ccccccccccccccccccccc</p>
<p>ccccccccccccccccccccc</p>
<p>ccccccccccccccccccccc</p>
<p>ccccccccccccccccccccc</p>
<p>ccccccccccccccccccccc</p>
<p>ccccccccccccccccccccc</p>
<p>ccccccccccccccccccccc</p>
<p>ccccccccccccccccccccc</p>
<p>ccccccccccccccccccccc</p>
<p>ccccccccccccccccccccc</p>
<p>ccccccccccccccccccccc</p>
