body{
    background-color: rgb(65,62,62);
    padding:0%;
    margin: 0%;
}

header{
    text-align: center;
}

main{
    padding:0%;
    margin: 0%;
}

.debut, .decouvertes, .billets{
    background-size: cover;
    height: 70vh;
    padding: 0%;
    margin: 0%;
}

.debut{
    background-image: url("../img/accueil1.jpg");
    color: white;
    text-align: center;
}

.debut p{
    
}

.decouvertes{
    background-image: url("../img/accueil2.jpg");
}