body{
    padding:0%;
    margin: 0%;
    
    background-image: url("../img/billleterie.jpg");
    background-size: cover;
}

main{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

div{
    background-color: aliceblue;
    flex-basis: 25%;

    border-radius: 10vh;

    padding: 2vh;
    margin: 2vh;
}

div img{
    max-width: 15vw;
}

.info{
    background-color: transparent;
    flex-basis: 100%;
    padding: 0%;
}

.info a{
    color:rgb(0, 149, 255);
    text-decoration: none;
}