nav{
    display: flex;
    position:fixed;
    width: 99%;
    margin-left: 0%;
}

a{
    flex-basis: 25%;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-right: aliceblue solid;
    color: aliceblue;
    background-color: rgb(65, 62, 62);
}

a{
    text-decoration: none;
    color: aliceblue;
}