body{
    padding:0%;
    margin: 0%;
    
    background-image: url("../img/billleterie.jpg");
    background-size: cover;
}

main{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

div{
    background-color: aliceblue;
    flex-basis: 20%;
    flex-grow: 1;
    background-image: url("../img/billet1.jpg");
    background-size: cover;

    border-radius: 10vh;

    padding: 2vh;
    margin: 2vh;

    font-size: 2vh;
}

div img{
    max-width: 30vw;
    max-height: 30vh;
}

.info{
    background-color: transparent;
    flex-basis: 100%;
    padding: 0%;
}

.info a{
    color:rgb(0, 149, 255);
    text-decoration: none;
}

button{
    background-color: black;
    border-color: black;
    color: white;
    font-size: 4vh;
    padding:1vh;
}