header{
    text-align: center;
}

nav{
    display: flex;
    width: 100%;
    margin-top: 0%;
}

nav a{
    flex-basis: 25%;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-right: aliceblue solid;
    color: aliceblue;
    background-color: black;
}

nav a{
    text-decoration: none;
    color: aliceblue;
}

#last{
    border-right: transparent;
}

.active{
    background-color: gray;
}
