div.admin {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

div.admin h1 {
    flex-basis: 100%;
}

div.rubriques {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

fieldset {
    flex: 1 0 21%;
  margin: 0 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 10px;
  box-sizing: border-box;
  background-color: lightcyan;
  margin: 1%;
}

div.admin a{
    flex-grow: 1;
}