{% extends "base.html" %}
{% block page_specific_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/accueil.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
{% endblock %}
{% include "nav.html" %}
{% block main %}
<main>
    <article class="debut">
        <div class="texte">
            <p>Découvrez les concerts près de chez vous,</p>
            <p>Réservez en quelques clics,</p>
            <p>Sortez et profitez de l'ambiance Fest'IUT !</p>
        </div>
    </article>
    <article class="decouvertes">
        <div class="container">
            <button id="left-btn"><i class="arrow"></i></button>
            <div>
                <div>
                    <img id="carousel" src="" alt="">
                </div>
                <div class="infos_carousel">
                    <h2 id="nom_carousel"></h2>
                    <div class="petit_infos">
                        <p id="description_carousel"></p>
                        <p id="style_carousel"></p>
                    </div>
                    <div>
                        <h3>Prochain concert</h3>
                        <p id="date_carousel"></p>
                        <p id="heure_carousel"></p>
                    </div>
                </div>

            </div>
            <button id="right-btn"><i class="arrow"></i></button>
        </div>
    </article>
    <article class="billets">
        <div class="texte">
            <p>Prenez vos places pour assister aux concerts qui vous plaisent</p>
            <p>Que vous souhaitiez voir un seul artiste ou assiter à une journée ou plus au festival,</p>
            <p>Nous avons les billets qu'il vous faut !</p>
        </div>
        <aside class="Les_concerts">
            {% for concert in concerts %}
            <div>
                <div class="texte_ticket">
                    <p>{{concert.nomConcert}}</p>
                    <p>{{concert.dateHeureDebut}}</p>
                </div>
            </div>
            {% endfor %}
        </aside>
    </article>
</main>
<script src="{{ url_for('static', filename='JavaScript/accueil.js') }}"></script>
{% endblock %}