<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Accueil Fest-iut</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/accueil.css') }}">
</head>

<body>
    <header>
        <nav>
            <a href="#CONCERTS">LES CONCERTS</a>
            <a href="#ACTUALITE">L'ACTUALITE</a>
            <a href="#BILLETERIE">LA BILLETERIE</a>
            <a href="">CONNEXION</a>
        </nav>
    </header>
    <main>
        <article id="CONCERTS" class="debut">
            <div class="texte">
                <p>Découvrez les concerts près de chez vous,</p>
                <p>Réservez en quelques clics,</p>
                <p>Sortez et profitez de l'ambiance Fest'IUT !</p>
            </div>
        </article>
        <article id="ACTUALITE" class="decouvertes">
            <div class="texte"></div>
                <p> Nom du groupe : bullshit </p>
            </div>
        </article>
        <article id="BILLETERIE" class="billets">
            <div class="texte">
                <p> Les types de billets </p>
            </div>
        </article>
    </main>
</body>

</html>
