{% extends "base.html" %}
{% block page_specific_css %}
    <link rel="stylesheet" href="/../static/css/billeterie.css">
    <link rel="stylesheet" href="/../static/css/nav.css">
{% endblock %}
{% include "nav.html" %}
{% block main %}
<main>
    <div class="1">
        <p> Billet catégorie 1</p>
        <p>Vous voulez assister au festival pour un jour ?</p>
        <p>Ce billet est fait pour vous ! Vous pourrez profiter toute la journée des concerts de vos artistes favoris.</p>
        <p>Le ticket est valable pour le jour séléctionné de l'ouverture du festival jusqu'à sa fermeture.</p>
        <a href="accueil.html"><button> Réserver </button></a>
    </div>
    <div>
    {% for billet in billets %}
        <p> {{ billet.prix }} </p>
    {% endfor %}
    </div>
    <div class="2">
        <p> Billet catégorie 1</p>
        <p>Vous voulez assister au festival pour un jour ?</p>
        <p>Ce billet est fait pour vous ! Vous pourrez profiter toute la journée des concerts de vos artistes favoris.</p>
        <p>Le ticket est valable pour le jour séléctionné de l'ouverture du festival jusqu'à sa fermeture.</p>
        <button> Réserver </button>
    </div>
    <div class="3">
        <p> Billet catégorie 1</p>
        <p>Vous voulez assister au festival pour un jour ?</p>
        <p>Ce billet est fait pour vous ! Vous pourrez profiter toute la journée des concerts de vos artistes favoris.</p>
        <p>Le ticket est valable pour le jour séléctionné de l'ouverture du festival jusqu'à sa fermeture.</p>
        <button> Réserver </button>
    </div>
    <div class="info">
        <p>Un problème avec votre réservation ? Une erreur lors de l'achat ? Un remboursement ?</p>
        <a href="">Toutes les informations nécessaires en un clic.</a>
    </div>
</main>
{% endblock %}