{% extends "base.html" %}
{% block page_specific_css %}
    <link rel="stylesheet" href="/../static/css/billeterie.css">
    <link rel="stylesheet" href="/../static/css/nav.css">
{% endblock %}
{% include "nav.html" %}
{% block main %}
<main>
    {% for billet in billets %}
    <div>
        <h2> {{ billet.intitule }}</h2>
            <p> {{ billet.description }}</p>
        <a href="accueil.html"><button> Réserver </button></a>
    </div>
    {% endfor %}
    <div class="info">
        <p>Un problème avec votre réservation ? Une erreur lors de l'achat ? Un remboursement ?</p>
        <a href="">Toutes les informations nécessaires en un clic.</a>
    </div>
</main>
{% endblock %}