{% extends "base.html" %}
{% block page_specific_css %}
    <link rel="stylesheet" href="/../static/css/nav.css">
    <link rel="stylesheet" href="/../static/css/compte.css">
{% endblock %}
{% include "nav.html" %}
{% block main %}
<h1>Mon Compte</h1>
<section>
    <h2>Informations du compte</h2>
    <form action="{{ url_for('update_account') }}" method="post">
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" value= "{{ spectateur.nomSpectateur }}">
        <label for="prenom">Prénom:</label>
        <input type="text" id="prenom" name="prenom" value= "{{ spectateur.prenom}}">
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" value="{{ spectateur.email }}">
        <label for ="addresses">Adresse :</label>
        <input type="text" id="adresse" name="adresse" value="{{ spectateur.adresse }}">
        <label for="Biographie">Biographie :</label>
        <textarea id="biographie" name="biographie">{{ spectateur.infoAnnexes }}</textarea>
        <input type="submit" value="Mettre à jour les informations">
    </form>
</section>
{% endblock %}