{% extends "base.html" %}
{% block page_specific_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/concerts.css') }}">
{% endblock %}
{% include "nav.html" %}
{% block main %}
<main>
    <h2> Catégories </h2>

    <div class="categorie">
        {% for style in styles %}
        <div class="unStyle">
            <a href="{{ url_for('concerts_style', style=style.nomStyle) }}">
                <img src="{{ url_for('static', filename='img/'+style.getImage()) }}" alt="Image du style + {{ style.nomStyle }}">
                <p> {{ style.getNomToUpperCase() }} </p>
            </a>
        </div>
        {% endfor %}
    </div>

</main>
{% endblock %}