<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/connexion.css">
    <title>Connexion Fest'Iut</title>
</head>
<body>
    <main>
        <img src="../static/img/connexion.jpg">
        <form>
            <p> Identifiant </p>
            <input type="text" name="identifiant"></input>
            <p> Mot de passse </p>
            <input type="password" name="identifiant"></input>
            <button> Se connecter </button>

            <p><a href="{{ url_for('inscription')}}"> Pas encore inscrit ? Inscrivez-vous !</a>
        </form>
    </main>
</body>
</html>