{% extends "base.html" %}
{% block page_specific_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/enregistrer.css') }}">
{% endblock %}
{% block main %}

<header>
    <a href="{{ url_for('panelAdmin') }}"><img src="{{ url_for('static', filename='img/retour.png') }}"></a>
</header>
<div>
    <form action="{{ url_for('cree_lieu_save')}}" method="post">
        {{ form.hidden_tag() }}
        <fieldset>
            <p>{{ form.nomLieu.label }}</p><p>{{ form.nomLieu }}</p>
        </fieldset>
        <fieldset>
            <legend> Informations </legend>
            <p>{{ form.adresse.label }}<p></p>{{ form.adresse }}</p>
            <p>{{ form.capaciteMax.label }}<p></p>{{ form.capaciteMax }}</p>
            <p>{{ form.photolieu.label }}<p></p>{{ form.photolieu }}</p>
        </fieldset>
        <div>
            <button type="submit">Enregistrer</button>
        </div>
    </form>
</div>

{% endblock %}