{% extends "base.html" %}
{% block page_specific_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/concerts.css') }}">
{% endblock %}
{% include "nav.html" %}
{% block main %}

<div>
    <form action="{{ url_for('cree_groupe_save')}}" method="post">
        <div>
            <label for="nomGroupe">Le nom du groupe</label>
            <input type="text" name="nomGroupe" id="nomGroupe" required>
            <label for="descriptionGroupe">Une petite description du groupe</label>
            <input type="text" name="descriptionGroupe" id="descriptionGroupe" required>
            <select name="styleGroupe">
                <option value="0">Choisir un style</option>
                {% for style in styles %}
                <option value="{{ style.nomStyle }}">{{ style.nomStyle }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <h4>Les liens du groupe <span>Optionel</span></h2>
                <label for="ReseauxX">Un lien vers leur x</label>
                <input type="text" name="ReseauxX" id="ReseauxX">
                <label for="ReseauxInsta">Un lien vers leur instagram</label>
                <input type="text" name="ReseauxInsta" id="ReseauxInsta">
                <label for="ReseauxTiktok">Un lien vers leur TikTok</label>
                <input type="text" name="ReseauxTiktok" id="ReseauxTiktok">
        </div>

        <div>
            <label for="imageGroupe">Une image du groupe <span>Optionel</span></label>
            <input type="file" name="imageGroupe" id="imageGroupe">
            <label for="videoGroupe">Un lien pour une video promotionel <span>Optionel</span></label>
            <input type="" name="videoGroupe" id="videoGroupe">
        </div>

        <div>
            <select name="Personne" id="Personne" onchange="ajouterALaListe()" >
                <option value="0">Choisir une personne</option>
                {% for personne in personnes %}
                <option value="{{ personne.nomArtiste }}">{{ personne.nomArtiste }}</option>
                {% endfor %}
            </select>
            <p>Les personnes que vous avez ajouté aux groupe :</p>
            <input type="hidden" name="listePersonnes" id="listePersonnes" value="">
            <ul id="list_personne"></ul>
        </div>

        <div>
            <input type="submit" value="Enregistrer">
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='JavaScript/form_engregistre_groupe.js') }}"></script>
{% endblock %}