{% extends "base.html" %}
{% block page_specific_css %}
    <link rel="stylesheet" href="/../static/css/connexion.css">
{% endblock %}
{% block main %}
    <main>
        <img src="../static/img/inscription.jpg">
        <form>
            <p> Identifiant </p>
            <input type="text" name="identifiant"></input>
            <p> Mot de passse </p>
            <input type="password" name="identifiant"></input>
            <button>S'inscrire</button>

            <p><a href="{{ url_for('login')}}"> Déjà inscris ? Connectez-vous !</a>
        </form>
    </main>
{% endblock %}