{% extends "base.html" %}
{% block page_specific_css %}
    <link rel="stylesheet" href="/../static/css/connexion.css">
{% endblock %}
{% block main %}
    <main>
        <img src="../static/img/inscription.jpg">
        <a href="{{ url_for('home') }}" ><input class="buttonHome" type="image" src="../static/img/retour.jpg" alt="fleche retour"/></a>
        <form role="form" method="POST" action="{{ url_for('ajouter_spec')}}">
            {{ form.hidden_tag() }}
            <p>Nom</p>
            {{ form.nom(size=50, class_="form-control",placeholder ="Nom") }}
            <p>Prénom</p>
            {{ form.prenom(size=50, class_="form-control",placeholder ="Prénom") }}
            <p> Email </p>
            {{ form.email(size=50, class_="form-control",placeholder ="Username ") }}
            <p> Mot de passse </p>
            {{ form.mdp(size=50, class_="form-control",placeholder ="Mot de Passe") }}
            <button type="submit" >S'inscrire</button>
            <p><a href="{{ url_for('login')}}"> Déjà inscris ? Connectez-vous !</a>
        </form>
    </main>
{% endblock %}