{% extends "base.html" %}
{% block page_specific_css %}
    <link rel="stylesheet" href="/../static/css/connexion.css">
{% endblock %}
{% block main %}
<main>
    <img src="/../static/img/connexion.jpg">
    <form>
        <p> Identifiant </p>
        <input type="text" name="identifiant"></input>
        <p> Mot de passse </p>
        <input type="password" name="identifiant"></input>
        <button> Se connecter </button>

        <p><a href=""> Pas encore inscris ? Inscrivez-vous !</a></p>
    </form>
</main>
{% endblock %}
